html, body {
    height: 100%;
    width: 100%;
    margin: 0%;
    border: 0px;
    background-color: rgb(98, 178, 162) ;
    font-family: Helvetica, Sans-Serif;}

.schedule{
    justify-content: center;
}
.schedule-container{
    width: 50%; 
    margin: 15% auto 15% auto; 
    padding: 2% 2% 2% 2%;
    display: grid;
    align-content: center;
    background-color: white;
}

.schedule-form {
    padding: 5% 5% 5% 5%;
  } 

.