html, body {
    height: 100%;
    width: 100%;
    margin: 5px;
    border: 0px;
    background-color: rgb(98, 178, 162) ;
    font-family: Helvetica, Sans-Serif;}

.routeHeader{
    color: whitesmoke;
    text-align: center;
    font-size: 40px;
    margin: 3% auto;
}
.schedule{
    justify-content: center;
    align-items: center;
    display: flex;
}
.schedule-container{
    width: 50%; 
    margin: 1% auto 2% auto;
    padding: 1%;
    display: grid;
    align-content: center;
    background-color: rgb(235, 247, 245);
    border-radius: 8px;
}

.schedule-form {
    padding: 2% ;
  } 

label{
    justify-content: center;
    align-items: center;
    display: grid;
}

.confirmBtn{
    justify-content: center;
    align-items: center;
    display: block;
    margin: .5% auto;
    border: none;
    border-radius: 4px;
    background-color: rgb(207, 133, 95);
    color: whitesmoke;
    font-weight: bold;
    padding: 10px;
    margin-top: 2%;
    
}

.confirmBtn:hover{
    justify-content: center;
    align-items: center;
    display: block;
    margin: .5% auto;
    border: none;
    border-radius: 4px;
    background-color: rgb(179, 105, 69);
    color: whitesmoke;
    font-weight: bold;
    padding: 10px;
    margin-top: 2%;
    
}

select{
    display: block;
    margin: 1% auto;
    font-size: medium;
}

.routeInfo{
    width: 50%; 
    margin: 1% auto 2% auto;
    padding: 1%;
    display: grid;
    align-content: center;
    background-color: rgb(235, 247, 245);
}

img{
    margin: 0 auto;
}

.logo{
    margin: auto;
    height: 200;
    width: 500;
    display: block;
}
