<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title> Route Website</title>
  <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>
<object data="../route1.png" type="image/png">
    <img src="../Search Code/cmu_map_small.png" />
   </object>
<body>
  <div id="routeContainer">
<h1 id="routeHeader">
    CMU Mapped</h1>
  </div>
  <div class="schedule-container">
    <h1 class="schedule">
        Add Your Schedule
    </h1>
<form class ="schedule-form" action="{{ url_for('route_page') }}" method="post">
    <label for="dorms">What is your dorm:</label>
    <select name="dorms" id="dorms">
        {% for d in dorms %}
            <option name="dormType" value="{{d}}">{{d}}</option>
         {% endfor %}
    </select>
    <label for="classes">Where is your first class?:</label>
    <select name="class1" id="class1">
        {% for b in buildings %}
            <option name="buildingType" value="{{b}}">{{b}}</option>
         {% endfor %}
    </select>
    <label for="classes">Where is your second class?:</label>
    <select name="class2" id="class2">
        {% for b in buildings %}
            <option name="buildingType" value="{{b}}">{{b}}</option>
         {% endfor %}
    </select>
    <label for="classes">Where is your third class?:</label>
    <select name="class3" id="class3">
        {% for b in buildings %}
        <option name="buildingType" value="{{b}}">{{b}}</option>
        {% endfor %}
    </select>
    <label for="classes">Where is your fourth class?:</label>
    <select name="class4" id="class4">
        {% for b in buildings %}
            <option name="buildingType" value="{{b}}">{{b}}</option>
         {% endfor %}
    </select>
    <label for="meals">When would you like to have a meal?:</label>
    <select name="mealTime" id="mealTime">
        {% for m in mealTimes %}
            <option name="mealType" value="{{m}}">{{m}}</option>
         {% endfor %}
    </select>
    <button class="confirmBtn"  type="submit">Get My Routes</button>
</form>
</div>


</body>

</html>