<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Water Route Website</title>
  <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="routeContainer">
<h1 id="routeHeader">
    CMU Mapped</h1>
  </div>

  <div style="text-align:center" id="routeInfo">
        <h2>Here is the route you should take: </h2>
    <ul id="info"> 
        <li>Route from {{states[0]}} to {{states[1]}}</li>
        <img src="filler_image.jpg" alt="Route from your first schedule to second schedule">
        <li>Route from {{states[1]}} to {{states[2]}}</li>
        <li>Route from {{states[2]}} to {{states[3]}}</li>
        <li>Route from {{states[3]}} to {{states[4]}}</li>
    <ul>
        <h2> Hope You Enjoy Your Classes</h1>
</div>


</body>

</html>