<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title> Route Website</title>
  <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="routeContainer">
<h1 id="routeHeader">
    CMU Mapped</h1>
  </div>

  <div style="text-align:center" id="routeInfo">
     
      <h1> This is the route from {{places[0]}} to {{places[1]}} </h1>
      <img src ="{{ url_for('static', filename='route1.png') }}"" height=270px width=346px>

      <h1> This is the route from {{places[1]}} to {{places[2]}} </h1>
      <img src ="{{ url_for('static', filename='route2.png') }}"" height=270px width=346px>

      <h1> This is the route from {{places[2]}} to {{places[3]}} </h1>
      <img src ="{{ url_for('static', filename='route3.png') }}"" height=270px width=346px>

      <h1> This is the route from {{places[3]}} to {{places[4]}} </h1>
      <img src ="{{ url_for('static', filename='route4.png') }}"" height=270px width=346px>

      <h1> This is the route from {{places[4]}} to {{places[5]}} </h1>
      <img src ="{{ url_for('static', filename='route5.png') }}"" height=270px width=346px>

      <h1> This is the route from {{places[5]}} to {{places[6]}} </h1>
      <img src ="{{ url_for('static', filename='route6.png') }}"" height=270px width=346px>
   
        <h2> Hope You Enjoy Your Classes</h1>
</div>


</body>

</html>